<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
        Package visibility for this hooker's target.

        Keep in sync with src/main/resources/META-INF/xposed/scope.list.
    -->
    <queries>
        <package android:name="com.pbb.gameclick" />
    </queries>

</manifest>
